<div class="container">
  <h1>{{name}}</h1>
  <div class="d-flex">
    <div class="d-flex" *ngFor="let i of unitArray">
      <div (click)="showAllBoxes()" class="boxes">
        <p></p>
      </div>
    </div>
  </div>


  <!-- <div *ngFor="let i of name.length">

  </div> -->
  <label for="" id="label-text" style="margin-top: 40px;"></label>
  <div *ngIf="showAllBox" class="d-flex">

    <div class="d-flex" style="margin-top: 50px;" *ngFor="let i of charArray; let j = index">

      <div (click)="showLabel(j+1)" class="sub-boxes">
        <p></p>
      </div>

    </div>

  </div>

</div>