.boxes{
    height: 50px;
    width: 50px;
    background-color: green;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50%;
}
.sub-boxes{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;

}
#label-text{
    font-weight: bold;
}
